{% extends "../templates/base.html" %}

{% block title %}{{sub.student}} - {{sub.assignent}}{% endblock %}

{% block content %}
    <h1>Submission {{sub.assignment}}</h1>
    <b>Student: </b> {{sub.student.first_name}} {{sub.student.last_name}}<br/>
    <b>Submit time: </b> {{sub.sub_date}}<br/>

    {% for g in sub.grade_set.all %}
        <br/>
        <b>Grade: </b> {{g.grade}}/{{sub.assignment.max_grade}}<br/>
        <b>Grader: </b> {{g.grader.first_name}} {{g.grader.last_name}}<br/>
        <b>Comments: </b> {{g.comments}}<br/>
    {% endfor %}
    <br/>
    <a href=''>Download zip</a> (you can't really do this yet) <br/>




{% endblock %}
