{% extends "base.html" %}

{% block title %}
  {{assgn.course.code}} {{assgn.code}} - {{assgn.title}}
{% endblock %}

{% block header %}
  {{assgn.course.code}} {{assgn.code}} - {{assgn.title}}
{% endblock %}

{% block content %}

  {{assgn.desc}}

  <h2>Submit</h2>

  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
  </form>

  <h2>Submissions</h2>
  {% for s in subs %}
      {% if s.status == s.CH_GRADED %}
      <a href={% url 'submission' s.id %}>{{s.student.first_name}} {{s.student.last_name}} - {{s.sub_date}} - graded</a><br/>
      {% elif s.status == s.CH_SUBMITTED%}
      <a href={% url 'grade' s.id %}>{{s.student.first_name}} {{s.student.last_name}} - {{s.sub_date}} - submitted</a><br/>
      {% endif %}
  {% endfor %}

{% endblock %}
