{% extends "base.html" %}
{% load tags %}

{% block scripts %}
<script language="JavaScript">
function toggle_selected(source, name) {
  checkboxes = document.getElementsByName(name);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
{% endblock %}

{% block title %}
  {{assgn.course.code}} {{assgn.code}} - {{assgn.title}}
{% endblock %}

{% block header %}
  {{assgn.code}} - {{assgn.title}}
{% endblock %}


{% block breadcrumbs %}
<li><a href={% url 'grader:home' %}>Home</a></li>
<li><a href={% url 'grader:course' assgn.course.id %}>{{assgn.course.code}}</a></li>
<li class='active'>Assignment</li>
{% endblock %}

{% block content %}
  <h1>{{assgn.code}}: {{assgn.title}}</h1>
  
  {% if instructor_view %}
  <a class='btn btn-default' href={% url 'grader:edit_assgn' assgn.course.id assgn.id %}>
      <span class="glyphicon glyphicon-pencil"></span> Edit Assignment
  </a><br/>
  {% endif %}
  
  <h3>Description</h3>
  {{assgn.get_description|safe}}
  <br/>
  <b>Deadline: </b> {{assgn.due_date}} 
  {% if past_due %}
  ({{assgn.due_date|timesince}} ago) <br/>
  {% else %}
  ({{assgn.due_date|timeuntil}} left) 
  {% endif %}
  <br/>
  
  {% if instructor_view %}
  {% if assgn.is_visible %}
  This assignment <b>is visible</b> to students.
  {% else %}
  <b>Visible: </b> {{ assgn.visible_date }} (not currently visible to students)
  {% endif %}
  {% endif %}
  
  {% if files|length > 0 or instructor_view %}
  
  <div style='width:600px'>
  <h3>Assignment Files</h3>
  {% if files|length > 0 %}
  
  <table class='table table-striped'>
      <th>Filename</th><th>Date Created</th><th>Size (bytes)</th>{% if instructor_view %}<th>Delete</th>{% endif %}
  {% for filename, size, create_date in files %}
  <tr>
      <td><a href={% url 'grader:assgn_file_download' assgn.id filename%}>{{ filename }}</a></td>
      <td>{{ create_date }}</td>
      <td>{{ size }}</td>
      {% if instructor_view %}
      <td><a class='btn btn-default' href={% url 'grader:assgn_file_delete' assgn.id filename %}>
      <span class="glyphicon glyphicon-trash"></span>
  </a></td>
      {% endif %}
  </tr>
  {% endfor %}
  </table>
  {% endif %}
  
  {% if instructor_view %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      {{ file_form }}
      <br/>
    <button type="submit" class="btn btn-default" name="action" value="add_file">
        <span class="glyphicon glyphicon-plus"></span>Add File </button>
  </form>
  {% endif %}

  </div>
  {% endif %}

  {% if student_view %}
  
  <div style='width:600px'>
  <h3>Submit</h3>
  
  {% if form %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-default" value="Submit" />
  </form>
  {% elif past_due %}
  Submissions for this assignment are closed.
  {% elif max_subs %}
  You have submitted the maximum number of times
  {% endif %}
  
  </div>
  
  {% if prev_submissions|length > 0 %}
  <div style='width:400px'>
  <h3>Previous Submissions</h3>
  <table class="table">
  <th>Submit Time</th><th>Status</th><th>Download</th>
  {% for s in prev_submissions %}
  <tr>
      
    <td>
        {%if s.status = s.CH_PREVIOUS%}
        {{s.sub_date}}
        {%else%}
        <a href={% url 'grader:submissions' assgn.id user.id %}>{{s.sub_date}}</a>
        {%endif%}
    </td>
    <td> {{ s|submission_status:instructor_view }} </td>
    <!--Download option-->
    <td><a class="btn btn-default btn-sm" href={% url 'grader:submission_download' s.id %}>
      <span class="glyphicon glyphicon-arrow-down"></span>
    </a></td>
  </tr>
  {% endfor %}
  </table>
  </div>
  {% else %}
  <br/>
  You have not submitted anything for this assignment yet
  {% endif %}
  {% endif %}
  
  {% if ta_view or instructor_view %}
  <div style='width:600px'>
  <h2>Submissions</h2>
  
  <form method='POST'>
      {% csrf_token %}
      
      <!--
      <button type='submit' class='btn btn-primary' name='action' value="grade_many">
      <span class="glyphicon glyphicon-ok"></span> Grade Selected
      </button>
      -->
       
      <button type='submit' class='btn btn-default' name='action' value="download_many">
      <span class="glyphicon glyphicon-arrow-down"></span> Download Selected
      </button>
      
      {% if show_autograde %}
      <button type='submit' class='btn btn-default' name='action' value="show_reports">
        <span class="glyphicon glyphicon-eye-open"></span> Show Selected Reports
      </button>
      
      <button type='submit' class='btn btn-default' name='action' value="hide_reports">
        <span class="glyphicon glyphicon-eye-close"></span> Hide Selected Reports
      </button>
      {% endif %}
      
      <br/>
      <br/>
      
      <table class="table table-striped">
          <th><input type='checkbox' onClick='toggle_selected(this, "submissions")'></th>
          <th>Student</th><th>Last Submission</th><th>Status</th><th>Grade</th><th>Download</th>
          
          {% if show_autograde %}<th>Report</th>    {%endif%}
          
          {% for recent in recent_subs %}
              <tr valign='center'>
                  <td><input type='checkbox' name='submissions' value='{{recent.id}}'></td>
                  <td><a href={% url 'grader:submissions' assgn.id recent.student.id %}>
                      {{recent.student.first_name}} {{recent.student.last_name}}</a></td>
                  <td>{{recent.sub_date}}</td>
                  <td>{{recent|submission_status:instructor_view}}</td>
                  
                  <!--Details option-->
                  <td><a class="btn btn-default" href={% url 'grader:submissions' assgn.id recent.student.id %}>
                    <span class="glyphicon glyphicon-ok"></span>
                  <a/></td>
                  
                  <!--Download option-->
                  <td><a class="btn btn-default" href={% url 'grader:submission_download' recent.id %}>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                  </a></td>
                  
                  {% if show_autograde %}
                  
                  <td>
                  {% if recent.autograderresult %}
                    {% if recent.autograderresult.visible %}
                      Done (visible)
                    {% else %}
                      Done (hidden)
                    {% endif %}
                  {% else %}
                  Pending
                  {% endif %}
                  </td>
                  {%endif%}
              </tr>
          {% endfor %}
      </table>
  </form>
  </div>
  {% endif %}

{% endblock %}
