{% extends "base.html" %}

{% block title %}
  {{assgn.course.code}} {{assgn.code}} - {{assgn.title}}
{% endblock %}

{% block header %}
  {{assgn.course.code}} {{assgn.code}} - {{assgn.title}}
{% endblock %}

{% block breadcrumbs %}
<li><a href={% url 'grader:home' %}>Home</a></li>
<li class='active'>Assignment</li>
{% endblock %}

{% block content %}
  <h1>{{assgn.code}}: {{assgn.title}}</h1>
  <b>Due at: </b> {{assgn.due_date}} <br/>
  <h3>Description</h3>
  {{assgn.desc}}

  {% if student_view %}
  <div style='width:600px'>
  <h2>Submit</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-info" value="Submit" />
  </form>
  
  {% if prev_submissions|length > 0 %}
  <h3>Previous Submissions</h3>
  {% for s in prev_submissions %}
  {{s.sub_date}}
  {% endfor %}
  {% else %}
  <br/>
  You have not submitted anything for this assignment yet
  {% endif %}
  
  </div>
  {% endif %}
  
  {% if ta_view or instructor_view %}
  <div style='width:600px'>
  <h2>Submissions</h2>
  <table class="table table-striped">
      <th>Student</th><th>Last Submission</th><th>Status</th><th align='center'>Download</th><th align='center'>Grade</th><th align='center'>Details</th>
      
  {% for s in recent_subs %}
      <tr valign='center'>
          <td>{{s.student__first_name}} {{s.student__last_name}}</td>
          <td>{{s.recent}}</td>
          <td>{% if s.recent == s.CH_GRADED%}Graded{%else%}Submitted{%endif%}</td>
          <td align='center'><a class="btn btn-primary" href={% url 'grader:submissions' assgn.id s.student %}>
            <span class="glyphicon glyphicon-arrow-down"></span>
          </a></td>
          <td align='center'><a class="btn btn-primary" href={% url 'grader:submissions' assgn.id s.student %}>
            <span class="glyphicon glyphicon-ok"></span>
          </a></td>
          <td align='center'><a class="btn btn-primary" href={% url 'grader:submissions' assgn.id s.student %}>
            <span class="glyphicon glyphicon-info-sign"></span>
          </td>
      </tr>
  {% endfor %}
  </table>
  </div>
  {% endif %}

{% endblock %}
