{% extends "base.html" %}
{% load tags %}

{% block title %}{{course.code}} - {{course.title}}{% endblock %}

{% block header %}
  {{course.code}} - {{course.title}} (Section {{course.section}})
{% endblock %}

{% block breadcrumbs %}
<li><a href={% url 'grader:home' %}>Home</a></li>
<li class='active'>Course</li>
{% endblock %}

{% block content %}

  <h1>{{course.code}} - {{course.title}} (Section {{course.section}})</h1>
  
  <div style='width:600px'>
      
  {% if instructor_view %}
  <a class='btn btn-default' href={% url 'grader:edit_course' course.id %}>
      <span class="glyphicon glyphicon-pencil"></span> Edit Course
  </a>
  {% endif %}

  <h2>Description</h2>
  {{course.get_description|safe}}

  <h2>Assignments</h2>
      
  {% if assignments|length == 0 %}
  There are no assignments listed for this course. <br/>
  {% else %}
  <table class="table table-striped">
    <th>Name</th><th>Due Date</th><th>Status</th>    
  {% for a in assignments %}
  {% if a.is_visible or not student_view %}
  <tr>
    <td><a href={% url 'grader:assignment' a.id %}>{{a.code}}: {{a.title}}</a></td>
    <td>{{a.due_date}}</td>
    <td>
        {% if student_view %}
        {% if a.recent %}
        <a href={% url 'grader:submissions' a.id user.id %}>
            
        {{ a.recent|submission_status:student_view }}
        
        {% if a.recent.grade %}
        <b>({{a.recent.grade.grade}}/{{a.max_grade}})</b>
        {% endif %}
        </a>
        {% else %}
        Not Submitted
        {% endif %}
        
        {% else %}
        {% if not a.is_visible %}
        Not Visible
        {% else %}
        {{a.sub_count}}/{{course.students.count}} submitted
        {% endif %}
        {% endif %}
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  </table>
  {% endif %}

  {% if instructor_view %}
  <a class='btn btn-default' href={% url 'grader:add_assgn' course.id %}>
      <span class="glyphicon glyphicon-plus"></span> Add Assignement
  </a>
  
  
  {% if assignments|length > 0 %}
  <a class='btn btn-default' href={% url 'grader:grades_download' course.id %}>
      <span class="glyphicon glyphicon-arrow-down"></span> Download All Grades
  </a>
  {% endif %}
  {% endif %}
  </div>
  
  
  {% if files|length > 0 or instructor_view %}
  
  <div style='width:600px'>
  <h2>Course Files</h2>
  {% if files|length > 0 %}
  
  <table class='table table-striped'>
      <th>Filename</th><th>Date Created</th><th>Size (bytes)</th>{% if instructor_view %}<th>Delete</th>{% endif %}
  {% for filename, size, create_date in files %}
  <tr>
      <td><a href={% url 'grader:course_file_download' course.id filename%}>{{ filename }}</a></td>
      <td>{{ create_date }}</td>
      <td>{{ size }}</td>
      {% if instructor_view %}
      <td><a class='btn btn-default' href={% url 'grader:course_file_delete' course.id filename %}>
      <span class="glyphicon glyphicon-trash"></span>
  </a></td>
      {% endif %}
  </tr>
  {% endfor %}
  </table>
  {% endif %}
  
  {% if instructor_view %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      {{ file_form }}
      <br/>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add File</button>
  </form>
  {% endif %}

  </div>
  
  {% endif %}

  {% if instructor_view or ta_view %}
  <h2>Student{% if course.students.all|length > 1 %}s{% endif %}</h2>
  {% for s in course.students.all %}
      <li><a href='mailto:{{s.email}}'>{{s.first_name}} {{s.last_name}} &lt{{s.email}}&gt</a><br/></li>
  {% endfor %}
  {% endif %}
  
  
  <h2>Contacts</h2>
  
  <h4>Intsructor{% if course.instructors.all|length > 1 %}s{% endif %}</h4>
  {% for i in course.instructors.all %}
      <li><a href='mailto:{{i.email}}'>{{i.first_name}} {{i.last_name}} &lt{{i.email}}&gt</a><br/></li>
  {% endfor %}
  
  {% if course.tas.all|length > 0 %}
  <h4>Teaching Assistant{% if course.tas.all|length > 1 %}s{% endif %}</h4>
  {% for t in course.tas.all %}
      <li><a href='mailto:{{t.email}}'>{{t.first_name}} {{t.last_name}} &lt{{t.email}}&gt</a><br/></li>
  {% endfor %}
  {% endif %}

{% endblock %}
