{% extends "base.html" %}

{% block title %}{{course.code}} Edit Course {% endblock %}

{% block header %} {{course.code}} Edit Course {% endblock %}

{% block scripts %} {{ form.media }} {% endblock %}

{% block breadcrumbs %}
<li class='breadcrumb-item'><a href={% url 'grader:home' %}>Home</a></li>
<li class='breadcrumb-item active'>Edit Course</li>
{% endblock %}

{% block content %}
<div class='container-fluid'>
  <form method="post">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>
</div>
{% endblock %}