{% extends "base.html" %}

{% block title %}{{recent.assignment.code}} Submission - {{recent.student}}{% endblock %}
{% block header %}{{recent.student.username}} {% endblock %}

{% block breadcrumbs %}
<li><a href={% url 'grader:home' %}>Home</a></li>
<li><a href={% url 'grader:course' recent.assignment.course.id %}>{{recent.assignment.course.code}}</a></li>
<li><a href={% url 'grader:assignment' recent.assignment.id %}>{{recent.assignment.code}}</a></li>
<li class='active'>Submission</li>
{% endblock %}

{% block content %}
  <h1>{{recent.assignment.course.code}} {{recent.assignment.code}} Submission</h1>
  
  <div style='width:400px'>
   <table class='table'>
    <tr>
     <td><b>Student</b></td><td>{{recent.student.first_name}} {{recent.student.last_name}}</td>
    </tr><tr>
     <td><b>Last Submission</b></td><td>{{recent.sub_date}}</td>
    </tr><tr>
     <td><b>Status</b></td><td>{{status}}</td>
    </tr>
    
    {% if recent.status == recent.CH_GRADED %}
    <tr><td><b>Grade</b></td><td>{{recent.grade.grade}}/{{recent.assignment.max_grade}}</td></tr>
    {% if recent.grade.comments|length > 0 %}
    <tr><td><b>Comments</b></td><td>{{recent.grade.comments}}</td></tr>
    {% endif %}
    {% endif %}
    
   </table>
  <a class="btn btn-default" href={% url 'grader:submission_download' recent.id %}>
      <span class="glyphicon glyphicon-arrow-down"></span> Download Submission
  </a><br/>
  </div>
  
  {% if recent.status != recent.CH_GRADED %} 
  
  {% if instructor_view or ta_view %}
  
  <div style='width:600px'>
  <h2>Grade</h2>
  <form method="POST">
    {% csrf_token %}
    <table class="table">
      {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-default" value="Submit" />
  </form>
  </div>
  {% endif %}
  
  {% endif %}

{% endblock %}
