{% extends "base.html" %}

{% block title %}{{sub.student}} - {{sub.assignent}}{% endblock %}
{% block header %}Submission {{sub.assignment}}{% endblock %}

{% block breadcrumbs %}
<li><a href={% url 'grader:home' %}>Home</a></li>
<li class='active'>Submission</li>
{% endblock %}

{% block content %}
  <b>Student: </b> {{sub.student.first_name}} {{sub.student.last_name}}<br/>
  <b>Submit time: </b> {{sub.sub_date}}<br/>

  {% for g in sub.grade_set.all %}
    <br/>
    <b>Grade: </b> {{g.grade}}/{{sub.assignment.max_grade}}<br/>
    <b>Grader: </b> {{g.grader.first_name}} {{g.grader.last_name}}<br/>
    <b>Comments: </b> {{g.comments}}<br/>
  {% endfor %}
  <br/>
  <a href={% url 'grader:submission_download' sub.id %}>Download Submission</a><br/>

{% endblock %}
