<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock %}</title>

    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            {% block header %} This is default header. {% endblock %}
          </a>
        </div>
      </div>
    </nav>
    <div class="container">

      <ol class="breadcrumb">
        {% block breadcrumbs %}
        <li class='active'>Home</li>
        {% endblock %}
      </ol>

      {% block content %} This is default block. {% endblock %}

    </div>
  </body>
</html>
