<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} {% endblock %}</title>

    {% load bootstrap3 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

  </head>
  <body>
    <div class="container">

      <div>
        <h2>{% block header %} This is default header. {% endblock %}</h2>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Courses</a></li>
        <li role="presentation"><a href="#">Assignments</a></li>
        <li role="presentation"><a href="#">Grades</a></li>
      </ul>

      {% block content %} This is default block. {% endblock %}

    </div>
  </body>
</html>
